.sellContainer {
  color: #6b8665;
  font-family: Helvetica;
  margin: 13px 10px 10px 10px;
}

.sellImg {
  max-width: 100%;
  max-height: auto;
  border: 5px solid #c4f4f2;
  margin-bottom: 15px;
}

.simple-form input {
  background-color: #c4f4f2;
  border-radius: 5px;
  color: #6b8665;
  padding: 10px;
}

.sellConfirm {
  font-weight: 700;
  background-color: #cafdb1;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 0.5em;
  margin-bottom: 20px;
}

.sellRetake {
  font-weight: 700;
  color: #CCDAE8;
  background-color: #334550;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 0.5em;
}


.sellConfirmContainer  {
  color: #6b8665;
  font-family: Helvetica;

}

.sellConfirmContainer ul {
  color: #6b8665;
  font-family: Helvetica;
  font-weight: 700;
  background-color: #c4f4f2;
  border-radius: 5px;
  padding: 0.5em;
}

div.sellThanks {
  font-size:2em;
  font-family: 'Damion', cursive;
}
