<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">

  <!-- Dashboard Tab -->

  <!-- "Sell" tab is the first tab on the homescreen nav bar -->
  <ion-tab title="Sell" icon="icon ion-home" href="#/tab/sell">
    <ion-nav-view name="tab-sell"></ion-nav-view>
  </ion-tab>


  <!-- Camera Tab (this is for testing purposes only. production app
  will not have a camera tab) -->
  <ion-tab title="Camera" icon="icon ion-home" href="#/tab/camera">
    <ion-nav-view name="tab-camera"></ion-nav-view>
  </ion-tab>


  <!-- Settings Tab -->
  <ion-tab title="Settings" icon="icon ion-gear-b" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
