<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">
  
  <!-- "Discover" Tab -->
  <ion-tab title="Discover" icon="icon ion-happy" href="#/tab/buy">
    <ion-nav-view name="tab-buy"></ion-nav-view>
  </ion-tab>

  <!-- "Camera" tab is the first tab on the homescreen nav bar 
  Note: This that the title is Sell, as you want to sell an item, but we 
  route the user to the camera view.
  -->
  <ion-tab title="Sell" icon="icon ion-pricetags" href="#/tab/camera">
    <ion-nav-view name="tab-camera"></ion-nav-view>
  </ion-tab>
  
  <!-- This tab is hidden as there is a routing issue when this tab is deleted -->
  <ion-tab title="Sell" class="hidden" icon="icon ion-pricetags" href="#/tab/sell">
    <ion-nav-view name="tab-sell"></ion-nav-view>
  </ion-tab>
  

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon="icon ion-gear-b" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
