<ion-view title="Camera">
<div class="vertical-align">
  <ion-content class="has-header padding">
    <!-- <h1>Cameraa</h1> -->
    	<!-- <div>avilable at: {{ avail }}</div> -->
    	<div style="margin-bottom:50px">
    		<button style="padding:20px" ng-click="takePic()">Take Pic</button>
    	</div>
<!--     	<div style="float:right;margin-bottom:50px">
				<i ng-click="testUpload()" class="entypo camera-splash-btn">&#128247;</i>
			</div> -->
			<img style="float:left;clear:both;margin-top:20px;width:50%;height:auto" ng-src="{{cam}}" />
			<div style="float:left;clear:both;">
				resp: {{ resp }}
			</div>
  </ion-content>
</div>

</ion-view>