.camera-btn {
	font-size: 13em;
	color: #fff;
	cursor: pointer;
	transition: 0.7s;
	background: #93d6d3;
	border-radius: 50%;
	padding: 0 0.20em;
	border: 15px solid #87d1ce;
}

#camera-splash .activated{
	font-size: 13em;
	color: #fff;
	cursor: pointer;
	transition: 0.15s;
	background: #F45358;
	border-radius: 50%;
	padding: 0 0.20em;
	border: 28px solid #87d1ce;
}

.camera-btn:hover{
	transition: 1s;
	/*color: #749D2C;*/
	/*background: red;*/
}

.camera-uploading{
	font-size: 18em;
	color: #fff;
}

.hidden {
	display: none;
}

.loading-background{
	
}
/*.wrapper {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	background: yellow;
}*/

/*.vertical-align {
	position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}*/

/*.vertical-align .scroll-content {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
}
.vertical-align .scroll {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}*/