.camera-btn {
	font-size: 18em;
	color: #fff;
	cursor: pointer;
	transition: 1s;
}

.camera-btn:hover{
	transition: 1s;
	/*color: #749D2C;*/
	/*background: red;*/
}

.camera-uploading{
	font-size: 18em;
	color: #fff;
}

.hidden {
	display: none;
}
.loading-background{
	
}
/*.wrapper {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	background: yellow;
}*/

/*.vertical-align {
	position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}*/

/*.vertical-align .scroll-content {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
}
.vertical-align .scroll {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}*/