.logoutButton {
  display: block;
  margin-top: 10%;
  margin-left: 20%;
  padding: 0;
  width: 60%;
  height: 40px;
  border-radius: 5px;
  background-color: #CBDA41;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.37);
  -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.37);
  box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.37);
}

.logoutButton h3 {
  margin: 0;
  padding: 3px;
  width: 100%;
  text-align: center;
  color: #434343;
}